.nav-link {
  margin-left: 25px;
  text-decoration: none;
  color: #333;
  font-weight: 500;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #a668aa;
}

.nav-link.active {
  color: #a668aa;
  font-weight: 600;
}